header {
  height: 70px;
  background-color: #090505;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  color: white;
  padding: 0 1.25rem;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 1.25rem;
  margin-top: 0.65rem;
}
.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 1rem;
  padding: 0 0.675rem;
  max-width: 70%;
  margin: 0 auto;
}
.header__searchInput {
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
}

.header__searchIcon {
  height: 36px !important;
  width: 2em !important;
  background-color: #cd9042;
  padding: 6px 4px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__nav-option {
  display: flex;
  flex-direction: column;
  margin-inline: 0.675rem;
  align-items: center;
  justify-content: center;
}
.header__nav-option_line1 {
  font-size: 10px;
}
.header__nav-option_line2 {
  font-size: 13px;
  font-weight: 800;
}
.header__nav-basket {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.shopping__counter {
  margin-inline: 0.4rem;
}
