.product {
  background-color: white;
  display: flex;
  flex-direction: column;

  padding: 1rem;
  flex: 1;
  width: 100%;
  max-height: 500px;
  min-width: 100px;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}
.product__image {
  max-height: 200px;
  margin-block: 2rem;
  width: 100%;
  object-fit: contain;
}
.product__rating {
  display: flex;
}
.product__price {
  margin-block: 0.5rem;
}
.home__button {
  box-shadow: 0 1px 0 rgb(255 255 255 / 60%) inset;
  background: linear-gradient(#fee6b0, #eeba37);
  color: #111;
  cursor: pointer;
  font-size: 13px;
  padding: 0.4rem 1.6rem;
  border-radius: 4px;
  margin-block: 1rem;
  border: 1px solid;
  border-color: #be952c #a68226 #9b7924;
}

.products__info {
  align-self: flex-start;
}
